body{
  padding-top: 70px;
  img{
    width: 100%;
  }
  .affix-mobile-view{
    nav{
      margin-bottom: 50px;
      ul{
        display: flex;
        flex-wrap: wrap;
        li{
          width: 33%;
          text-align: center;
        }
      }
    }
  }
  .footer{
    background-color: #000;
    padding: 50px;
    ul{
      display: flex;
      flex-wrap: wrap;
      li{
        width: 30%;
        line-height: 30px;
        color: #eee;
        text-align: center;
      }
    }
  }
}