body {
    padding-top: 70px;
}
body img {
    width: 100%;
}
body .affix-mobile-view nav {
    margin-bottom: 50px;
}
body .affix-mobile-view nav ul {
    display: flex;
    flex-wrap: wrap;
}
body .affix-mobile-view nav ul li {
    width: 33%;
    text-align: center;
}
body .footer {
    background-color: #000;
    padding: 50px;
}
body .footer ul {
    display: flex;
    flex-wrap: wrap;
}
body .footer ul li {
    width: 30%;
    line-height: 30px;
    color: #eee;
    text-align: center;
}